 
  .wrap {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    .wrap {
       flex-direction: column; 
       align-items: center;
    }
  }
  
  .left {
    margin-right: 10px;
  }
  
  .main {
    flex-grow: 1;
  }
  
  .available {
    background-color: rebeccapurple;
  }