<footer class="footer">
    <div class="footer_flex">
        <div class="col">
            Dr Fergus Plump - Cosmetic Surgery Service (est. 1997) 
        </div>
        <div class="col">
            Website and Design - Copyright 2022 Lime Parallelogram
        </div>
    </div>
    <p id="disclaimer">* Please note that this site is purely for satire. I do not condone the use of any surgical procedures purely for perceived cosmetic enhancements. Any quotes and information displayed on these pages are fabricated for comedic effect.</p>
</footer>