<div class="second_header container-fluid">
    <div class="container d-lg-flex p-5 align-items-center">
        <div class="text-center text-lg-start">
            <h1>'Dr Plump LTD - est. 1997'</h1>
            <h4>Scotland's Finest cosmetic surgeon and beauty therapist. </h4>
        </div>
    </div> 
    
</div>
<div class="container">
    <h2>About:</h2>
    <div class="row">
        <img class="col-lg-2" src="assets/img/about/fergus_plump.jpg" alt="Dr Fergus Plump posing for a photo opportunity">
        <div class="col-lg">
            <p>Since 1997, Dr Fergus Plump has been in the business of cosmetic surgery and enhancement. In the last 25 years, Plump has become the most well renowned surgeon in all of Scotland. Plumps celebrity clients have included First Minister Nicola Sturgeon, Kim Kardashian, famous bagpiper Alek MacBride as well as Russian president Vladimir Putin and infamous RE teacher Alison McGore.</p>

            <p>Plump started his surgical training in 1990 and received a Medical degree from Edinburgh University in 1996, opening his cosmetic business one year later in 1997. Plump has been interested in the cosmetic business since he began noticing the lack of lip mass on front page broadsheets, he was sure that going forward his career goal would be to rectify this most remiss fact.</p>
    
            <p>Should you decide to visit our Surgery, you will be in safe hands, with Plump proudly boasting a 25 year clean record of perfect surgeries: 'that is,' he jokes 'if you discount an incident I had about 6 years ago when a Mr B. Johnson arrived in a huge red bus. He asked for everything we had to prepare him for the campaign trail - his lips were perfect until they deflated all over my white overalls.'</p>
    
        </div>
    </div>
    
</div>