.our_services
{
    display: flex;
    flex-direction: column;

    
}

.summary_field {
    font-size: 1.8rem;
    font-family: "Average Sans";

    span {
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--bs-primary);
    }
}