<nav class="navbar navbar-expand-lg bg-light p-3">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="assets/img/logo/simple.png" class="mx-2" alt="" height="34px">drplump.scott</a>

        <!-- Hide the NAV on small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Actual navigation links -->
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/book">Book now</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><app-navbar-account></app-navbar-account></li>
            </ul>
        </div>
    </div>
</nav>